@* @page
@model IndexModel *@
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the most popular movie review website!</h1>
    <p>Created by movie lovers for movie lovers.</p>
</div>
